<script>
  AOS.init();
</script>

<div style="background: linear-gradient(to bottom right, #00394c, #004c39);">
<div style="padding: 10px;">
  <h2 style="color: #f3f2f2;font-size: 20px;">JONAS</h2>
  <h2 style="color: #f3f2f2;font-size: 14px;">PREISLER</h2>
</div>
  <center>
    <h1 style="color: #fff;margin: 0;padding-top: 30px;">Reliable Web Development</h1>
    <div style="padding:20px;width: 100% !important;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/j18Bh3BVIwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border-radius: 5px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);"></iframe>
    </div>
  </center>
  <br>

  <div style="height: 120px">
    <center data-aos="fade-up">
      <span style="color: #fff;font-size: 24px;"> We turn ideas into <strong>digital products</strong></span>
    </center>    
  </div>
<div id="particles-js" style="z-index: 1 !important"></div>
</div>



<div class="row projects">
  <% @projects.each do |f| %>
    <%= link_to project_path(f), class: 'col-md-4 col-sx-3 col-sm-6' do %>
      <div class="height:100vw">
        <div class="featured" style="background-image: url('<%= f.image.url(:featured) %>');background-size: 100%">
          <div class="overlay">
            <div class="headline" style="padding:3vw;" data-aos="fade-up" data-aos-duration="100">
              <h2><%= f.name %></h2>
              <p><%= f.intro %></p> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<center class="padding"><h2 style="font-size: 40px;">The team</h2></center>
<div class="row projects">
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/jonas.jpg') %>
    <br><br>
    <strong>Jonas Preisler</strong><br>
    <i>Marketing, Development</i>
  </div>
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/hristo.jpg') %>
    <br><br>
    <strong>Hristo Tenev</strong><br>
    <i>Backend Development/API</i>
  </div>
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/shalinga_m.jpg') %>
    <br><br>
    <strong>Shalinga Mashane</strong><br>
    <i>Backend Development</i>
  </div>
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/bong.jpg') %>
    <br><br>
    <strong>Bong Aquino</strong><br>
    <i>Server/deployment/AWS</i>
  </div>
</div>

<br><br><br>
  <center><%= link_to "Contact us", contact_path, class: 'contact_bottom' %></center>
<br><br>
