<script>
  AOS.init();
</script>

<div style="background: linear-gradient(to bottom right, #00394c, #004c39);">
  <%= link_to "Contact", booking_path, class: 'nav-top-button', style: 'float: right' %>
  <div style="padding: 10px;" class="desktop">
    <p style="color: #f3f2f2;font-size: 11px;letter-spacing: 1em;padding-left: 8px;margin-bottom: -3px;text-decoration: underline;">JONAS</p>
    <h2 style="color: #f3f2f2;font-size: 20px;">PREISLER</h2>
  </div>
  <div style="padding: 10px;" class="mobile">
    <h2 style="color: #f3f2f2;font-size: 20px;">JONAS</h2>
    <h2 style="color: #f3f2f2;font-size: 10px;letter-spacing: 0.3em;">PREISLER</h2>
  </div>
  <center style="padding-bottom: 30px;">
    <div class="desktop">
      <span style="color: #fff;padding-top:30px;" data-aos="fade-up">We turn <strong style="color:#00e5ac">ideas</strong> into</span><h1 data-aos="fade-up" style="color:#fff;margin-top:0px;"> Digital Products</h1>
      <div style="padding:20px;width: 100% !important;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/j18Bh3BVIwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border-radius: 5px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);"></iframe><br><br>
        <%= link_to "Start a project", booking_path, class: 'center-button', style: 'z-index: 10' %>
      </div>
    </div>
    <div class="mobile">
      <span style="color: #fff;padding-top:40px;" data-aos="fade-up">We turn <strong style="color:#00e5ac">ideas</strong> into</span><h1 style="color: #fff;margin: 0;font-size: 34px;" data-aos="fade-up">Digital Products</h1>
      <div style="padding:20px;width: 100% !important;">
        <iframe src="https://www.youtube.com/embed/j18Bh3BVIwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border-radius: 5px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);"></iframe><br><br>
        <%= link_to "Get quote", contact_path, class: 'center-button-mobile', style: 'z-index: 10' %>
      </div>
    </div>
  </center>
  <div id="particles-js" style="height: 30%;z-index: 1"></div>
</div>



<div class="row projects">
  <% @projects.each do |f| %>
    <%= link_to project_path(f), class: 'col-md-4 col-sx-3 col-sm-6' do %>
      <div class="height:100vw">
        <div class="featured" style="background-image: url('<%= f.image.url(:featured) %>');background-size: 100%">
          <div class="overlay">
            <div class="headline" style="padding:3vw;" data-aos="fade-up" data-aos-duration="100">
              <h2><%= f.name %></h2><br>
              <p><%= f.intro %></p> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="steps padding">
  <h2><center>How we work:</center></h2><br>
  <div class="row">
    <div class="col-md-4 col-sm-4">
          <center class="step padding" style="background: linear-gradient(to right, #004c39, #007f5f);">
            <i class="fa fa-calendar-check-o" aria-hidden="true" style="font-size: 60px;"></i><br>
            <span class="card-body">
              <div class="h3 heading">WEEK 1</div>
              <p style="font-size: 12px;letter-spacing: 0.1em;">PLANNING</p>
            </span>
          </center>
    </div>
    <div class="col-md-4 col-sm-4">
          <center class="step padding" style="background: linear-gradient(to right, #007f5f, #004c39);">
            <i class="fa fa-code" aria-hidden="true" style="font-size: 60px;"></i><br>
            <span class="card-body">
              <div class="h3 heading">WEEK 2-4</div>
              <p style="font-size: 12px;letter-spacing: 0.1em;">DEVELOPMENT</p>
            </span>
          </center>
    </div>
    <div class="col-md-4 col-sm-4">
          <center class="step padding" style="background: linear-gradient(to right, #004c39, #007f5f);">
            <i class="fa fa-rocket" aria-hidden="true" style="font-size: 60px;"></i><br>
            <span class="card-body">
              <div class="h3">WEEK 5</div>
              <p style="font-size: 12px;letter-spacing: 0.1em;">FINETUNING & DEPLOYMENT</p>
            </span>
          </center>
    </div>
  </div>
</div>
<div style="padding: 30px;padding-top:50px;">
<h2 style="color: #00394c">Do you have a software or app idea?</h2>
<br>
Such as a SaaS, marketplace, chatbot or any other web-based software?
<br><br>
We have developed a ready-to-use MVP-package (Minimum Viable Product) which is a new way for allowing fast completion of idea to a finished product. 
<br><br>
In that way YOU can get early feedback from the customers to dominate your market by building farther improvements quicker and earlier.
<br><br>
Our developers are experienced in SaaS, API and chatbot integration. This allows us to use software, store, manage, and process data via the internet. We can also integrate with your preferred payment system easily.

</div>
<center class="padding"><h2 style="font-size: 40px;">The team</h2></center>
<div class="row projects">
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/jonas.jpg') %>
    <br><br>
    <strong>Jonas Preisler</strong><br>
    <i>Marketing, Development</i>
  </div>
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/hristo.jpg') %>
    <br><br>
    <strong>Hristo Tenev</strong><br>
    <i>Backend Development/API</i>
  </div>
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/shalinga_m.jpg') %>
    <br><br>
    <strong>Shalinga Mashane</strong><br>
    <i>Backend Development</i>
  </div>
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/bong.jpg') %>
    <br><br>
    <strong>Bong Aquino</strong><br>
    <i>Server/deployment/AWS</i>
  </div>
</div>

<br><br><br>
  <center><%= link_to "Contact us", contact_path, class: 'contact_bottom' %></center>
<br><br>
