<script>
  AOS.init();
</script>

<div style="background: linear-gradient(to bottom right, #00394c, #004c39);">
  <%= link_to "Contact", contact_path, class: 'nav-top-button', style: 'float: right' %>
  <div style="padding: 10px;" class="desktop">
    <h2 style="color: #f3f2f2;font-size: 20px;">JONAS</h2>
    <h2 style="color: #f3f2f2;font-size: 14px;">PREISLER</h2>
  </div>
  <div style="padding: 10px;" class="mobile">
    <h2 style="color: #f3f2f2;font-size: 20px;">JONAS</h2>
    <h2 style="color: #f3f2f2;font-size: 14px;">PREISLER</h2>
  </div>
  <center>
    <div class="desktop">
      <h1 style="color: #fff;margin: 0;padding-top: 30px;">Professional SaaS Applications</h1>
      <div style="padding:20px;width: 100% !important;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/j18Bh3BVIwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border-radius: 5px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);"></iframe>
      </div>
    </div>
    <div class="mobile">
      <h1 style="color: #fff;margin: 0;padding-top: 20px;font-size: 37px;">Professional SaaS Apps</h1>
      <div style="padding:20px;width: 100% !important;">
        <iframe src="https://www.youtube.com/embed/j18Bh3BVIwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border-radius: 5px;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);"></iframe>
      </div>
    </div>
  </center>
  <div style="height: 120px">
    <center data-aos="fade-up">
      <span style="color: #fff;font-size: 24px;"> We turn ideas into <strong>digital products</strong></span>
    </center>
  </div>
  <div id="particles-js" style="height: 30%;"></div>
</div>



<div class="row projects">
  <% @projects.each do |f| %>
    <%= link_to project_path(f), class: 'col-md-4 col-sx-3 col-sm-6' do %>
      <div class="height:100vw">
        <div class="featured" style="background-image: url('<%= f.image.url(:featured) %>');background-size: 100%">
          <div class="overlay">
            <div class="headline" style="padding:3vw;" data-aos="fade-up" data-aos-duration="100">
              <h2><%= f.name %></h2>
              <p><%= f.intro %></p> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div style="padding: 30px;padding-top:50px;">
<h2 style="color: #00394c">Do you have an idea that you need to bring to market?</h2><br>

We are a team of Rails geeks that love to build new projects and get it on the screens of your customers as quickly and as smoothly as possible.<br><br>

The high quality ready-for-users/clients MVPs we're developing are designed to scale with the use of best practices, support and maintenance.<br><br>

<strong>The process we follow:</strong><br>
1. We have a call and I listen to what you need.<br>
2. We agree to a plan. Week 1: x is done, week 2: x is done, etc.<br>
3. We get to work and we go through the app and revise after each week.<br><br>

<strong>Average MVP development:</strong> 2-6 weeks.<br>
<strong>Complete version 1 + finetuning + debugging:</strong> 4-6 weeks.

<br><br>
<strong>Technical details:</strong><br>
Ruby on Rails, Javascript, Ubuntu, capistrano, API integrations with your preferred payment systems and CRMs.<br><br>

<strong>Products we build:</strong><br>
- SaaS products<br>
- marketplaces<br>
- chatbots<br>
- lead generating websites

</div>
<center class="padding"><h2 style="font-size: 40px;">The team</h2></center>
<div class="row projects">
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/jonas.jpg') %>
    <br><br>
    <strong>Jonas Preisler</strong><br>
    <i>Marketing, Development</i>
  </div>
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/hristo.jpg') %>
    <br><br>
    <strong>Hristo Tenev</strong><br>
    <i>Backend Development/API</i>
  </div>
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/shalinga_m.jpg') %>
    <br><br>
    <strong>Shalinga Mashane</strong><br>
    <i>Backend Development</i>
  </div>
  <div class="col-md-3 col-sx-3 col-sm-6">
    <%= image_tag('/bong.jpg') %>
    <br><br>
    <strong>Bong Aquino</strong><br>
    <i>Server/deployment/AWS</i>
  </div>
</div>

<br><br><br>
  <center><%= link_to "Contact us", contact_path, class: 'contact_bottom' %></center>
<br><br>
