<%= link_to "Contact", contact_path, class: 'nav-top-button', style: 'float: right' %>
<div>
	<div style="padding: 10px;display: inline-flex;">
      <%= link_to 'JONAS', root_path, style: "font-size: 20px;" %><%= link_to 'PREISLER', root_path, style: 'font-size: 20px;color: #c3c2c2 !important' %>
  </div>
</div>

<div class="container">
	<div class="partnership">

		<div class="row author helping">
			<div class="col-md-3 col-sm-6">
				<center>
					<%= image_tag('/jonas.jpg') %>
				</center>
			</div>
			<div class="col-md-3 col-sm-6">
				<center><p>Jonas Preisler</p></center>
			</div>
			<div class="col-md-6 text">
				Programmer helping digital agencies provide clients with larger, complex web-apps.
			</div>
		</div>

		<hr>
		<h1>Do you run a digital agency and want to expand into high(er) ticket projects?</h1>
		<h2>Or are your clients requesting projects that Wordpress can't handle?</h2>


		<i>Then you should read further. 👍</i><br><hr>

		<h2>How a partnership with me looks like:</h2>

		(with examples of my current partnership)

		<div class="info-box one">

			<h3><u>Partnership</u></h3>
			<p>
			You get the client.<br>

			We agree on a contract.<br>

			I do the work.
			</p>
		</div>

			 

		<div class="info-box two">
			<h3><u>Finances</u></h3>

			<p>
			<i>Example from <a style="color: #0086b2 !important;" href="https://www.jonaspreisler.com/projects/84" target="_blank">last project:</a></i><br>

			Our client paid us <strong><u>$10592,55</u></strong> 
			<div style="font-size: 12px;"> $1000 advance payment followed up with payments every 2. week.</div><br>

			I built 95% of the app and outsourced 5% <div style="font-size: 12px;">I got $7649.43 ($30/hour).</div><br>

			My partner did zero work - <strong>still he got $2943.12 ($11/hour)!</strong>
			</p>
		</div>

		 
		<div class="info-box three">
			<h3><u>Reporting</u></h3>

			<p>
			<i>Example from <a style="color: #002db2 !important;" href="https://www.jonaspreisler.com/projects/84" target="_blank">last project:</a></i><br>

			About 1 time/week we did a Skype call with the client and made a list of "to do's".<br>

			(Almost) everyday I messaged my partner with a list of tasks done.
			</p>
		</div>
		<br><br>

		<center>Here's a quick look at a couple of my latest projects:<br><br></center>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<center>
					
					<iframe width="100%" height="315" src="https://www.youtube.com/embed/mR_htJK7Cfo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<u><a href="https://www.jonaspreisler.com/projects/87" target="_blank">Link</a></u>
				</center>
			</div>
			<div class="col-md-6 col-sm-6">
				<center>
					
					<iframe width="100%" height="315" src="https://www.youtube.com/embed/zH0Ldx3ahP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<u><a href="https://www.jonaspreisler.com/projects/84" target="_blank">Link</a></u>
				</center>
			</div>
		</div>

		<br><br>




		<hr>

		<center>
			<div class="post-bottom">
				<div class="helping">
					<%= link_to 'Book a free call', booking_path %>
				</div>
			</div>
		</center>

	</div>
</div>
