<%= link_to "Contact", booking_path, class: 'nav-top-button', style: 'float: right' %>
<div>
	<div style="padding: 10px;display: inline-flex;">
      <%= link_to 'JONAS', root_path, style: "font-size: 20px;" %><%= link_to 'PREISLER', root_path, style: 'font-size: 20px;color: #c3c2c2 !important' %>
  </div>
</div>


<div class="container">
	<div class="partnership">
		
		<center>
			<h1>
			I help expand your <span style="color: #0086b2;">digital agency</span> with custom coding projects.</h1>
			<h2>Sometimes Wordpress just ain't enough.</h2><br>
			<h4>Outsource professional coding with daily reporting for a cost that allows you to take a meaningful cut.</h4>
		</center>
		<br>

		<div class="row desktop">
			<div class="col-md-4 col-sm-4">
				<div class="box-outer-wrapper">
					<div class="box-wrapper">
						<center>
							<h2>PARTNERSHIP</h2>
						</center>

						<div class="box1" style="display: none;">
							<center><%= image_tag('/p-partnership.png') %></center>
							You have a client.<br>
							We agree on a contract.<br>
							I do the work.
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="box-outer-wrapper">
					<div class="box-wrapper">
						<center>
							<h2>FINANCES</h2>
						</center>

							<div class="box1" style="display: none;">
							<center><%= image_tag('/p-finances.png') %></center>
							<i>Example from <a style="color: #002db2 !important;" href="https://www.jonaspreisler.com/projects/84" target="_blank">last project:</a></i><br>
							Our client paid my partner $10,592.55<br>
							$1000 advance payment followed up with payments every second week.<br>

							I built 95% of the app and outsourced 5% to my entrusted coders.<br>
							I got <strong>$7,649.43</strong> ($30/hour).<br>

							My partner did zero work.<br> - still he got <strong>$2,943.12</strong> ($11/hour)!
							</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="box-outer-wrapper">
					<div class="box-wrapper">
						<center>
							<h2>REPORTING</h2>
						</center>

							<div class="box1" style="display: none;">
							<center><%= image_tag('/p-reporting.png') %></center>
							
							<i>Example from <a style="color: #002db2 !important;" href="https://www.jonaspreisler.com/projects/84" target="_blank">last project:</a></i><br>

							About 1 time a week we did a Skype call with the client and made a list of "to do's".<br>

							(Almost) everyday I messaged my partner with a list of tasks done.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mobile">
			<div class="col-md-4 col-sm-4">
				<div class="box-outer-wrapper">
					<div class="box-wrapper">
						<center>
							<h2>PARTNERSHIP</h2>
						</center>

							<center><%= image_tag('/p-partnership.png') %></center>
							You have a client.<br>
							We agree on a contract.<br>
							I do the work.

					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="box-outer-wrapper">
					<div class="box-wrapper">
						<center>
							<h2>FINANCES</h2>
						</center>

							<center><%= image_tag('/p-finances.png') %></center>
							<i>Example from <a style="color: #002db2 !important;" href="https://www.jonaspreisler.com/projects/84" target="_blank">last project:</a></i><br>
							Our client paid us $10,592.55<br>
							$1000 advance payment followed up with payments every 2. week.<br>

							I built 95% of the app and outsourced 5%.<br>
							I got <strong>$7,649.43</strong> ($30/hour).<br>

							My partner did zero work - still he got <strong>$2,943.12</strong> ($11/hour)!
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="box-outer-wrapper">
					<div class="box-wrapper">
						<center>
							<h2>REPORTING</h2>
						</center>

							<center><%= image_tag('/p-reporting.png') %></center>
							
							<i>Example from <a style="color: #002db2 !important;" href="https://www.jonaspreisler.com/projects/84" target="_blank">last project:</a></i><br>

							About 1 time/week we did a Skype call with the client and made a list of "to do's".<br>

							(Almost) everyday I messaged my partner with a list of tasks done.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="partnership">

		<div class="row author helping">
			<div class="col-md-3 col-sm-6">
				<center>
					<%= image_tag('/jonas.jpg') %>
				</center>
			</div>
			<div class="col-md-9 col-sm-6 text">
				<strong>Jonas Preisler -</strong>
				Professional coder helping digital agencies provide clients with larger, complex web-apps.
				<div class="small-text">
					Programming framework: Ruby on Rails, HTML, CSS, Javascript.<br>
					Experience: 7 years webdesign + marketing. 3 years coding.<br>
					Age: 30. Current location: Manila.
				</div>
			</div>
		</div>
		<br><br>
		<center>
			<div class="post-bottom">
				<div class="button">
					<%= link_to 'Book a free call with Jonas', booking_path %>
				</div>
			</div>
		</center>

		<br><br>

		<center>Take a quick look at a couple of my latest projects:<br><br></center>
		<div class="row">
			<div class="first">
				<div class="col-md-6 col-sm-6">
					<center>
						
						<iframe width="100%" height="270" src="https://www.youtube.com/embed/mR_htJK7Cfo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						<u><a href="https://www.jonaspreisler.com/projects/87" target="_blank">Link</a></u>
					</center>
				</div>
			<div class="second">
				<div class="col-md-6 col-sm-6">
					<center>
						
						<iframe width="100%" height="270" src="https://www.youtube.com/embed/zH0Ldx3ahP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						<u><a href="https://www.jonaspreisler.com/projects/84" target="_blank">Link</a></u>
					</center>
				</div>
			</div>
		</div>

		<br><br>


	</div>
</div>
