<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :image_733_x_418 %>
    <%= form.file_field :image %>
  </div>
  <div class="field">
    <%= form.label :image_2 %>
    <%= form.file_field :image_2 %>
  </div>
  <div class="field">
    <%= form.label :image_3 %>
    <%= form.file_field :image_3 %>
  </div>
  <div class="field">
    <%= form.label :image_4 %>
    <%= form.file_field :image_4 %>
  </div>
  <div class="field">
    <%= form.select :service_id,  Service.all.map{ |m| [m.name,m.id]}, {}, placeholder: "Service", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :intro %>
    <%= form.text_area :intro %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :desciption %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
