<div class="project">
  <div class="container only-desktop" style="padding-top: 20px;">
    <%= link_to "← Back", root_path, style: 'font-size: 16px;' %>
    <div class="row">
      <div class="col-xs-8 col-md-8 desktop"><br />
        <%= image_tag @project.image_2.url(:project), style: 'box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);' if @project.image_2? %> 
      </div>
      <div class="mobile">
          <%= image_tag @project.image_2.url(:project), style: 'box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);' if @project.image_2? %> 
      </div>
      <div class="col-xs-4 col-md-4">
        <h3 class="card-title"><%= @project.name %></h3><br>
        
        <%= link_to "Website", @project.website, target: :_blank, class: 'website' if @project.website %>
      </div>

    </div>
    <br /><br />
    <div style='width: 50%;margin-left: 20vw;'>
      <strong style="font-size: 28px;"><%= @project.intro %></strong><br><br>
      <%= simple_format @project.desciption %>
    </div>
    <br>
    <center>
    <%= image_tag @project.image_3.url(:project), style: 'box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);width: 100%;max-width: 733px;' if @project.image_3? %><br><br><br>
    <%= image_tag @project.image_4.url(:project), style: 'box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);width: 100%;max-width: 733px;' if @project.image_4? %>
  </center>
  </div>



  <div class="container only-mobile">
    <div class="row">
      <div class="col-lg-9">
        <div class="card mt-4"><br /><br />
          <%= image_tag @project.image.url(:project), style: 'box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);' if @project.image? %><br><br>
          <div class="card-body">
            <center>
              <h3 class="card-title"><%= @project.name %></h3><br>
              <%= link_to "Website", @project.website, target: :_blank, class: 'website' if @project.website %><br /><br /><br />
            </center>
            <strong style="font-size: 24px;"><%= @project.intro %></strong><br />
            <p class="card-text">
            	<%= simple_format @project.desciption %>
            </p>
            <br>
            <%= image_tag @project.image_3.url(:project), style: 'box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);width: 100%;max-width: 733px;' if @project.image_3? %><br><br><br>
            <%= image_tag @project.image_4.url(:project), style: 'box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);width: 100%;max-width: 733px;' if @project.image_4? %>
          </div>
        </div>
      </div>
      <hr>
    </div>
  <%= link_to "← Back", root_path, style: 'font-size: 16px;' %>
  </div>
</div>
