<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @link_to_shorten.product_id %>
</p>

<p>
  <strong>Color:</strong>
  <%= @link_to_shorten.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @link_to_shorten.size %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @link_to_shorten.amount %>
</p>

<%= link_to 'Edit', edit_link_to_shorten_path(@link_to_shorten) %> |
<%= link_to 'Back', link_to_shortens_path %>
